<h1 align="center"><%= @message_board.title %></h1>

<%= render 'shared/messages_list', messages: @messages %>

<%= render 'messages/post_form' , { message_board: @message_board , message: @message } %>