<% content_for :head do %>
  <title>Forget password - Let's use</title>
  <meta name="description" content="パスワードを忘れた時のメール送信のためのフォーム。">
<% end %>

<div class="box">
  <div class="box-title" align="center">Forgot password</div>
    <div class="box-inner">
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="submit-group" align="center">
            <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>