<h1 align="center">Message Board</h1>

<h2>Posted Message Boards</h2>

<%= render 'shared/boards_list', message_boards: @message_boards %>

<h2>Favorite Message Boards</h2>

<%= render 'shared/boards_list', message_boards: @favorite_boards %>