<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>楽しいを追求する</h1>
      <%= link_to '今すぐ始める' , new_user_session_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'items/list' , items: @items %>