<% content_for :head do %>
  <title>Home - Goods Square</title>
  <meta name="description" content="Goods Squareのトップページ。
    ユーザーの欲しいものや持っているものが表示されています。">
<% end %>

<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>賢い買い物がしたいあなたに</h1>
      <%= link_to '今すぐ始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'items/list' , items: @items %>