<% if :type == "wants" %>
    <% content_for :head do %>
        <title>Wanted Items Ranking - Let's use</title>
        <meta name="description" content="商品のWant数ランキングのページ、１０位までの商品を表示しています。">
    <% end %>
    <div align="center">
        <h1>Wanted Items Ranking!!</h1>
    </div>
    <br>
    <br>
<% elsif :type == "haves" %>
    <% content_for :head do %>
        <title>Haved Items Ranking - Let's use</title>
        <meta name="description" content="商品のHave数ランキングのページ、１０位までの商品を表示しています。">
    <% end %>
    <div align="center">
        <h1>Haved Items Ranking!!</h1>
    </div>
    <br>
    <br>
<% end %>