#image-2 {
    width: 75%;
    height: 75%;
}

#image-3 {
    width: 60%;
    height: 60%;
}

#image-4 {
    width: 40%;
    height: 40%;
}

#image-5 {
    width: 40%;
    height: 40%;
}

#image-6 {
    width: 40%;
    height: 40%;
}

#image-7 {
    width: 40%;
    height: 40%;
}

#image-8 {
    width: 40%;
    height: 40%;
}

#image-9 {
    width: 40%;
    height: 40%;
}

#image-10 {
    width: 40%;
    height: 40%;
}