.table-wrap {
    height: 500px;
    width: 100%;
    overflow: auto;
    
    th {
      white-space: nowrap;
    }
    
    tr {
      margin-top: 5px;
      margin-bottom: 5px;
      .btn {
        margin-top: 0px;
      }
    }
}