<div class="row footer">
  <div class="col-md-8 col-md-offset-2 footer-inner">
      <div class="copyright">© <%= Date.today.year %> Goods Square.</div>
  </div>
  <div class="col-md-2"></div>
</div>
